/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
body {
  font-size: 18px;
  padding: 20px;
  background-color: #fff;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  overflow: hidden;
  color: #fff;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, p, form, button {
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  h1 {
      font-size: 1.5em;
  }
  p, form, button {
      font-size: 1em;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}


body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
